body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.25em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}
h1 {
    font-size: 2.5em;
    letter-spacing: .5px;
}

h2 {
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: .5em;
}

h3 {
  display: block;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: .5em;
}

h5 {
  margin-bottom: 0;
  letter-spacing: 2px;
}

.jumbotron {
  padding: 1.25em .5em 1em;
}

main {
  min-height: 100vh;
}

#searchColumn {
  float: left;
  margin-bottom: 1.5em;
  height: 100vh;
}

.form-control {
  display: inline-block;
  height: auto;
  width: 80%;
}

.inputbtn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#inputCity {
  flex: 4 1 195px;
  margin: .5em .25em .5em 0;
}

#searchBtn {
  margin: .5em 0;
  flex: 1 1 60px;
}

#cityHighlight {
  border: 2px solid #d1d6d8;
  border-radius: 8px;
  box-sizing: border-box;
  display: none;
  float: left;
  margin: 0 1em 2em;
  padding: 1em 1.5em;
  height: fit-content;
}

#uvBg {
  border-radius: 5px;
  color: #FFF;
  padding: .25em .5em;
}

.favorable {
  background-color: #009ca7;
}

.moderate {
  background-color: #ffa500;
}

.severe {
  background-color: #ff0000;
}

#forecast5Days {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#forecastCards {
  background-color: #5f8091;
  border: none;
  color: #FFF;
  display: inline-block;
  margin: .25em;
  flex: 1 1 250px;
}

@media screen and (max-width: 768px) {
  #searchColumn {
    float: none;
    margin-bottom: 1.5em;
    height: fit-content;
  }
}